.installed.cfg
*.pyc
*CRDPPF.pdf
*.egg-info/
apache/*.conf
config_db.yaml
config_pdf.yaml
development.ini
MANIFEST
production.ini
tile_date.yaml
buildout/bin/
buildout/develop-eggs/
buildout/eggs/
buildout/parts/
crdppfportal/static/public/temp_files/*.png
crdppfportal/static/public/temp_files/*.xml
crdppfportal/static/public/pdf/*.pdf
crdppfportal/static/public/reglements/
deploy/deploy.cfg
deploy/hooks/post-restore-database
mapserver/*.map